{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Quai Antique{% endblock %}

{% block content %}
    <h1 class="h1">Modifier mon mot de passe</h1>
    <a href="{{ path('app_account') }}">Retourner à mon compte</a><br/>
    <hr>

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Sapp2street</strong>
            <hr>
            06 06 06 06 06
            75000 PARIS</br>
            sapp2street@contact.fr<br/>
        </div>
    </div>
    <hr>
{% endblock %}